* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #ecf0f1;*/
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: #2e2f33;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #ecf0f1;
}

.logo {
    cursor: pointer;
    height: 130px;
    width: 130px;
    border-radius: 15px;
    transition: width 1s, height 1s;
}

.logo:hover {
    width: 150px;
    height: 150px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

/*button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}*/

.sec-1 {
    text-align: center;
    padding: 80px 10px;
}

.name {
    font-size: 4rem;
}

.intro {
    font-size: 1.4rem;
    line-height: 40px;
}

.sec-2 {
    padding: 100px 140px;
}

.about {
    font-size: 2rem;
    padding-bottom: 25px;
}

.statement {
    line-height: 25px;
    font-size: 1.1rem;
}

.sec-3 {
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 100px;
}

.services {
    font-size: 2rem;
    padding-bottom: 25px;
}

.FED {
    font-size: 1.3rem;
    color: #0088a9;
    padding-bottom: 15px;
}

.contact {
    text-align: center;
    padding: 80px 20px;
    border: 1px dotted #2e2f33;
    line-height: 60px;
}

footer {
    padding: 75px 20px;
    text-align: center;
}