* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #2e2f33;*/
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #2e2f33;
}

.logo {
    cursor: pointer;
    height: 130px;
    width: 130px;
    border-radius: 15px;
    transition: width 1s, height 1s;
}

.logo:hover {
    width: 150px;
    height: 150px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    background-color: #2e2f33;
}

.flexbox-item {
    width: 600px;
    margin: 10px 50px;
    border: 3px solid #ecf0f1;
    background-color: darkgray;
    /*background-color: rgb(218, 214, 214);*/
}

.flexbox-item-1 {
    min-height: 50px;
    width: auto;

    /*background-color: rgba(255, 255, 255, 1);*/
    
}

.flexbox-item-2 {
    min-height: 200px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 1);*/
}

.flexbox-item-3 {
    min-height: 150px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0);*/
}

.flexbox-item-4 {
    min-height: 300px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0);*/
}

.flexbox-item-5 {
    min-height: 200px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0);*/
}

.flexbox-item-6 {
    min-height: 175px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0);*/
}

.flexbox-item-7 {
    min-height: 200px;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0);*/
}

h1 {
    text-align: center;
}

h2, h3, p {
    margin-left: 20px;
    color: #2e2f33;
}

footer {
    padding: 75px 20px;
    text-align: center;
    line-height: 45px;
    background-color: #2e2f33;
    color: #ecf0f1;
}

.copy {
    color: #ecf0f1;
}

.icon:hover {
    opacity: .5;
}

.work_history li {
    color: #2e2f33;
    padding-left: 20px;
}

.projects li {
    color: #2e2f33;
    padding-left: 20px;
}

.hack li {
    color: #2e2f33;
    padding-left: 20px;
}